* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

button {
  display: none;
}

.Top-info {
  height: 54px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
  position: fixed;
  &__items {
    margin: 0 auto;
    align-items: center;
    max-width: 975px;
    height: 54px;
    padding: 0 20px;
    display: flex;
    .nav {
      font-style: italic;
      font-size: 30px;
      width: 342.5px;
      
      
    }
    
    .search-posts{
      width: 300px;
      display: flex;
      &__input-box {
        width: 250px;
        display: flex;
        align-items: center;
        position: relative;
        &__text {
          background-color: #fafafa;
          height: 30px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border: 0.5px solid #c4c4c4;
          border-radius: 3px 3px 3px 3px;
        }
        &__image {
          font-size: 1rem;
          position: absolute;
          cursor: pointer;
          top: 7px;
          right: 10px;
        }
        &__btn {
          border: none;
          background-color: transparent;
          font-size: 1rem;
          position: absolute;
          cursor: pointer;
          height: 30px;
          width: 35px;
          right: 0;
        }
      }
    }
    .info {
      margin: auto 0 auto auto;
      &__icons {
        display: flex;
        line-height: 22px;
        &__icon {
          font-size: 22px;
          height: 22px;
          width: 22px;
          margin-left: 22px;
          &-btn{
            font-size: 22px;
            height: 22px;
            width: 22px;
            object-fit: cover;
            border-radius: 50%;
            color: #919191;

          }
        }
      }
    }
    .submit {
      margin: auto 0 auto auto;
      display: flex;
      &__new {
        font-weight: 500;
        margin-left: 8px;
        height: 36px;
        width: 80px;
        font-size: 16px;
        background-color: #38aef0;
        color: #ffffff;
        border: none;
        cursor: pointer;
      }
      &__new:hover {
        font-weight: 500;
        margin-left: 8px;
        height: 36px;
        width: 80px;
        font-size: 16px;
        background-color: #3088bb;
        color: #ffffff;
        border: none;
        cursor: pointer;
      }
      &__login {
        font-weight: 900;
        margin-left: 8px;
        height: 36px;
        width: 80px;
        font-size: 16px;
        background-color: #ffffff;
        color: #38aef0;
        border: 1px solid #38aef0;
        cursor: pointer;
      }
      &__login:hover {
        font-weight: 900;
        margin-left: 8px;
        height: 36px;
        width: 80px;
        font-size: 16px;
        background-color: #e7e7e7;
        color: #38aef0;
        border: 1px solid #38aef0;
        cursor: pointer;
      }

    }
  }
}
.Body {
  height: 100vh;
  width: 100%;
  padding-top: 85px;
  overflow: scroll;
  background-color: #fafafa;
  &__items {
    margin: 0 auto;
    height: 100%;
    max-width: 935px;
    display: flex;

    .Posts-list{
      height: 100%;
      width: 610px;
      margin-right: 25px;
      h1 {
        margin-bottom: 16px;
        font-size: 20px;
        color: #4e4e4e;

      }
      .Post-box {
        background-color: #ffffff;
        width: 100%;
        border: 0.5px solid #c4c4c4;
        border-radius: 3px 3px 3px 3px;
        margin-bottom: 40px;
        &__header {
          padding: 12px 5px 12px 5px;
          border-bottom: double 3px #c4c4c4;
          width: 100%;
          &__top {
            display: flex;
            &__icon {
              font-size: 32px;
              height: 32px;
              width: 32px;
              color: #919191;
              object-fit: cover;
              border-radius: 50%;
            }
            &__user {
              padding: 0 10px;
              width: 132px;
              display: flex;
              flex-direction: column;
              &__nickname {
                padding: 0;
                font-size:  12px;
              }
              &__id {
                font-size: 8px;
                color: #313131;
              }
            }
            &__type {
              font-size: 24px;
              line-height: 36px;
              margin:0 auto;
            }
            &__type-check {
              font-size: 20px;
              line-height: 36px;
            }
            &__edit {
              margin: auto 0 auto auto;
              width: 28px;
              font-size: 12px;
              color: #a0a0a0;
              display: flex;
              align-items: center;
              &__icon {
                margin-left: 5px;
                cursor: pointer;
                color: #a0a0a0;
              }
            }
          }
          &__middle {
            width: 100%;
            &__title {
              padding-left:  40px;
              font-size: 22px;
              line-height: 36px;
              width: 100%;
              word-wrap: break-word;
            }
            &__title-input {
              padding-left: 3px;
              font-size: 22px;
              width: 100%;
              line-height: 36px;
              border: none;
              border: 0.5px solid #c4c4c4;
              background-color: #fafafa;
              &::placeholder {
                font-size: 16px;
              }
          }
        }
      }
      
      &__main {
        &-input {
          margin: 3px;
          border: 0.5px solid #c4c4c4;
          padding:0 2px;
          background-color: #fafafa;
          width: calc(100% - 6px);
          height: 400px;
          resize: none;
          
        }
        &__text {
          padding:0 5px;
        }
        &__date {
          text-align: right;
          font-size: 12px;
          color: #a0a0a0;
          margin: 0 0 0 auto;
        }
      }


      &__footer {
        
        display: flex;
        padding:8px 5px;
        border-top: 0.5px solid #c4c4c4;
        align-items: center;
        &__tags {
          display: flex;
          &__input {
            height: 40px;
            width: 520px;
            border: 0.5px solid #c4c4c4;
            padding:0 2px;
            background-color: #fafafa;

          }
          &__tag, a {
            color: #757575;
            margin-right: 5px;
          }
          &__tag a:hover {
            color: #5e5e5e;
            margin-right: 5px;
            border-bottom: 1px solid #5e5e5e;
          }
        }
        &__actions {
          display: flex;
          margin:0 0 0 auto;
          &__reply {
            display: none;
            display: flex;
            align-items: center;
            margin-left: 5px;
            &__icon {
              transform: scale(-1, -1);
              cursor: pointer;
            }
            &__count {
              margin-left: 3px;
            }
          }
          &__up {
            display: flex;
            align-items: center;
            margin-left: 5px;
            &__icon {
              cursor: pointer;
              &-on {
                color: #38aef0;
              }
            }
            &__count {
              margin-left: 3px;
            }
          }
          &__down {
            display: flex;
            align-items: center;
            margin-left: 5px;
            &__icon {
              cursor: pointer;
              &-on {
                color: #38aef0;
              }
            }
            &__count {
              margin-left: 3px;
            }
          }
        }
        &__submit {
          margin: auto 0 auto auto;
          height: 40px;
          width: 70px;
          padding-right: 0;
          &__btn {
            font-weight: 500;
            height: 40px;
            width: 70px;
            font-size: 16px;
            background-color: #38aef0;
            color: #ffffff;
            border: none;
            border-radius: 3px 3px 3px 3px;
            cursor: pointer;
          }
          &__btn:hover {
            font-weight: 500;
            height: 40px;
            width: 70px;
            font-size: 16px;
            background-color: #3088bb;
            color: #ffffff;
            border: none;
            border-radius: 3px 3px 3px 3px;
            cursor: pointer;
          }
        }
      }
      }

      .Comments {
        display: flex;
        width: 100%;
        &__icon {
          transform: scale(-1, -1);
          color: #a0a0a0;
          height: 16px;
          width: 16px;
        }
        .Comments-list{
          display: flex;
          flex-direction: column;
          .Comment-box {
            background-color: #ffffff;
            width: calc(100% - 16px);
            border: 0.5px solid #c4c4c4;
            border-radius: 3px 3px 3px 3px;
            margin-bottom: 10px;
            margin-left: 3px;
            width: 591px;
            &__header {
              height: 60px;
              padding: 12px 0 12px 16px;
              display: flex;
              border-bottom: double 3px #c4c4c4;
              &__icon {
                font-size: 32px;
                height: 32px;
                width: 32px;
                color: #919191;
                object-fit: cover;
                border-radius: 50%;
              }
              &__user {
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                &__nickname {
                  font-size:  12px;
                  width: 112px;
                }
                &__id {
                  font-size: 8px;
                  color: #313131;
                  width: 112px;
                }
                
              }
          
              &__edit {
                margin:0 0 0 auto;
                width: 28px;
                font-size: 12px;
                color: #a0a0a0;
                display: flex;
                align-items: center;
                &__icon {
                  margin-left: 5px;
                  cursor: pointer;
                  color: #a0a0a0;
                }
              }
            }
          
          &__main {
            &__text {
              padding-left: 2px;
            }
            &__date {
              text-align: right;
              font-size: 12px;
              color: #a0a0a0;
              margin: 0 0 0 auto;
            }
          }
    
          &__footer {
            height: 32px;
            display: flex;
            padding: 8px 5px;
            border-top: 0.5px solid #c4c4c4;
            align-items: center;
            &__actions {
              display: flex;
              margin:0 0 0 auto;
              
              &__up {
                display: flex;
                align-items: center;
                margin-left: 5px;
                &__icon {
                  cursor: pointer;
                  &-on {
                    color: #38aef0;
                  }
                }
                &__count {
                  margin-left: 3px;
                }
              }
              &__down {
                display: flex;
                align-items: center;
                margin-left: 5px;
                &__icon {
                  cursor: pointer;
                  &-on {
                    color: #38aef0;
                  }
                }
                &__count {
                  margin-left: 3px;
                }
              }
            }
          }
          }
        }
      }
      .Commentform-box {
        width: calc(100% - 16px -3px);
        margin-left: 19px;
        border: 0.5px solid #c4c4c4;
        border-radius: 3px 3px 3px 3px;
        background-color: #ffffff;
        &__header {
          height: 60px;
          padding: 12px 0 12px 16px;
          display: flex;
          border-bottom: double 3px #c4c4c4;
          &__icon {
            font-size: 32px;
            height: 32px;
            width: 32px;
            color: #919191;
            object-fit: cover;
            border-radius: 50%;
          }
          &__user {
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            &__nickname {
              font-size:  12px;
              width: 112px;
            }
            &__id {
              font-size: 8px;
              color: #313131;
              width: 112px;
            }
          }
          &__title {
            font-size: 22px;
            width: 400px;
            line-height: 36px;
          }
            
        }
        &__nav {
          line-height: 30px;
          font-size: 18px;
          height: 30px;
          margin-left: 3px;
        }
        .Form {
          padding: 5px 3px;
          display: flex;
          flex-direction: column;
          &__content {
            width: 100%;
            height: 161px;
            margin-bottom: 5px;
            &__input {
              border: 0.5px solid #c4c4c4;
              background-color: #fafafa;
              width: 100%;
              height: 161px;
              resize: none;
            }
          }
          &__submit {
            margin: auto 0 auto auto;
            height: 40px;
            width: 70px;
            padding-right: 0;
            &__btn {
              font-weight: 500;
              height: 40px;
              width: 70px;
              font-size: 16px;
              background-color: #38aef0;
              color: #ffffff;
              border: none;
              border-radius: 3px 3px 3px 3px;
              cursor: pointer;
            }
            &__btn:hover {
              font-weight: 500;
              height: 40px;
              width: 70px;
              font-size: 16px;
              background-color: #3088bb;
              color: #ffffff;
              border: none;
              border-radius: 3px 3px 3px 3px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .Side-items{
      width: 300px;
      margin-top: 2px;
      .user {
        margin: 18px 0 10px 0;
        height: 56px;
        display: flex;
        
        &__icon {
          margin-left: 5px;
          font-size: 56px;
          color: #919191;
          object-fit: cover;
          border-radius: 50%;
          height: 56px;
          width: 56px;
        }

        &__name {
          margin: auto auto auto 12px;
          &__nickname {
            font-size: 16px;
          }
          &__id {
            font-size: 12px;
            color: #313131;
          }
        }
      }
      .posts {
        color: #7e7e7e;
        font-size: 18px;
        margin: 5px 0;
        &__post {
          word-wrap: break-word;
          margin: 2px 5px;
          font-size: 16px;
          color: #000000;
        }

      }

      .tags {
        color: #7e7e7e;
        font-size: 18px;
        margin: 5px 0;
        &__tag, a {
          margin: 2px 2px;
          font-size: 16px;
          color: #000000;
        }
        &__tag a:hover {
          margin: 2px 2px;
          font-size: 16px;
          color: #7e7e7e;
          border-bottom: 1px solid #7e7e7e;
        }

      }
      .copyright {
        font-size: 11px;
        color: #c7c7c7;
      }


    }

  }
}
