.AccountPage {
  width: 935px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: scroll;
  display: flex;
}
.AccountPage__title {
  width: 30%;
  font-size: 14px;
  font-weight: 200;
  &__content {
    height: 48px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    line-height: 48px;
    font-size: 18px;
    border-left: 2px solid #000;
    padding-left: 10px;

  }

  .Button {
    margin-left: 5px;
    margin-top: 40px;
    color: #fff;
    background-color: #ccc;
  }
  .Button:hover {
    margin-left: 5px;
    margin-top: 40px;
    color: #fff;
    background-color: #adadad;
  }
}

.AccountPage__form {
  width: 70%;
  padding: 5px;
}

.FormField {
  margin-bottom: 10px;
  display: flex;
  &__label--normal {
    width: 30%;
    margin-right: 2%;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 200;
    text-align: right;
    &__icon {
      font-size: 36px;
      height: 36px;
      width: 36px;
      color: #919191;
      object-fit: cover;
      border-radius: 50%;
    }
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    width: 68%;
    position: relative;
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
      height: 550px;
      resize: none;
    }
    .icon_input_btn{
      box-sizing: border-box;
      display: block;
      background-color: #38aef0;
      width: 50%;
      letter-spacing: 1px;
      border-radius: 3px;
      color: white;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      position: absolute;
    	bottom: 25%;
    }
    .icon_input_btn:hover{
      box-sizing: border-box;
      display: block;
      background-color: #2e8ec5;
      width: 50%;
      letter-spacing: 1px;
      border-radius: 3px;
      color: white;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
    }
    .icon_form{
      display: none;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  margin-left: 32%;
  color: #fff;
  background-color: #38aef0;
  cursor: pointer;
}
.UserButton:hover {
  margin-top: 20px;
  color: #fff;
  background-color: #2e8ec5;
  cursor: pointer;
}


#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.User {
  display: flex;
  width: 100%;
  &__icon {
    font-size: 90px;
    margin: 10px;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    color: #919191;
  }
  &__info {
    margin: 10px 5px 16px 0;
    &__top {
      display: flex;
      margin-bottom: 16px;
      margin-top: 5px;
      &__name {
        &__nickname {
          font-size: 22px;
          font-weight: 700;
        }
        &__id {
          font-size: 18px;
          padding-left: 3px;
          color: #313131;
        }
      }
      &__box {
        padding-left: 8px;
        &__evaluate{
          position: relative;
          z-index: 0;
          display: inline-block;
          white-space: nowrap;
          color: #cccccc98; 
          font-size: 24px;
        }
        
        &__evaluate:before, &__evaluate:after{
          content: '★★★★★';
        }
        
        &__evaluate:after{
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          overflow: hidden;
          white-space: nowrap;
          color: #a3a3a3; /* イエローカラー 自由に設定化 */
        }
        
        &__evaluate[rate="5.0"]:after{ width: 100%; } /* 星5 */
        &__evaluate[rate="4.5"]:after{ width: 90%; } /* 星4.5 */
        &__evaluate[rate="4.0"]:after{ width: 80%; } /* 星4 */
        &__evaluate[rate="3.5"]:after{ width: 70%; } /* 星3.5 */
        &__evaluate[rate="3.0"]:after{ width: 60%; } /* 星3 */
        &__evaluate[rate="2.5"]:after{ width: 50%; } /* 星2.5 */
        &__evaluate[rate="2.0"]:after{ width: 40%; } /* 星2 */
        &__evaluate[rate="1.5"]:after{ width: 30%; } /* 星1.5 */
        &__evaluate[rate="1.0"]:after{ width: 20%; } /* 星1 */
        &__evaluate[rate="0.5"]:after{ width: 10%; } /* 星0.5 */
        &__evaluate[rate="0.0"]:after{ width: 0%; } /* 星0 */
        &__evaluate[rate="none"]:after{ width: 0%; } /* 星0 */

      &__count {
        color: #a3a3a3; 
        font-size: 16px;
        padding-left: 3px;

      }
      }
    &__follow {
      margin: auto 0 auto auto;
      &__follow-now {
        font-weight: 500;
        margin-left: 8px;
        height: 36px;
        width: 120px;
        font-size: 16px;
        background-color: #38aef0;
        color: #ffffff;
        border: none;
        border-radius: 3px 3px 3px 3px;
        cursor: pointer;
      }
      &__follow-now:hover {
        font-weight: 500;
        margin-left: 8px;
        height: 36px;
        width: 120px;
        font-size: 16px;
        background-color: #3088bb;
        color: #ffffff;
        border: none;
        border-radius: 3px 3px 3px 3px;
        cursor: pointer;
      }
      &__follows {
        font-weight: 900;
        margin-left: 8px;
        height: 36px;
        width: 120px;
        font-size: 16px;
        background-color: #ffffff;
        color: #38aef0;
        border: 1px solid #38aef0;
        cursor: pointer;
      }
      &__follows:hover {
        font-weight: 900;
        margin-left: 8px;
        height: 36px;
        width: 120px;
        font-size: 16px;
        background-color: #e7e7e7;
        color: #38aef0;
        border: 1px solid #38aef0;
        cursor: pointer;
      }
      
    }
    }
    &__middle {
      display: flex;
      font-size: 18px;
      margin-bottom: 8px;
      &__value {
        margin-right: 16px;
        padding: 0 2px;
        cursor: pointer;
      }
      &__value:hover {
        padding: 0 2px;
        margin-right: 16px;
        margin-bottom: -1px;
        border-bottom:1px black solid ;
        cursor: pointer;
      }
    }
      &__profile {
        max-height: 240px;
        width: 820px;
        word-wrap: break-word;
      }
  }
}
.field {
  display: flex;
  .Users-list{
    height: 100%;
    width: 610px;
    margin-right: 25px;
    h1 {
      margin-bottom: 16px;
      font-size: 20px;
      color: #4e4e4e;
    }
    .User-box {
      background-color: #ffffff;
      width: 100%;
      border: 0.5px solid #c4c4c4;
      border-radius: 3px 3px 3px 3px;
      margin-bottom: 40px;
      &__header {
        padding: 12px 5px 12px 5px;
        border-bottom: solid 0.5px #c4c4c4;
        width: 100%;
        &__top {
          display: flex;
          &__icon {
            font-size: 32px;
            height: 32px;
            width: 32px;
            color: #919191;
            object-fit: cover;
            border-radius: 50%;
          }
          &__user {
            padding: 0 10px;
            width: 132px;
            display: flex;
            flex-direction: column;
            &__nickname {
              padding: 0;
              font-size:  12px;
            }
            &__id {
              font-size: 8px;
              color: #313131;
            }
          }
          &__follow {
            margin: auto 0 auto auto;
          }
        }
      }
    }
  }
}


.Posts-type {
  display: flex;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 24px;
  &__value {
    width: 100px;
    padding: auto auto auto auto;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    &__on {
      border-bottom: 2px solid #38aef0;
    }
  }
  &__value:hover {
    width: 100px;
    padding: auto auto auto auto;
    background-color: #c9c9c9;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    
  }
}
