%nav.Side-items
  .user
    = icon('fas', 'circle', class: "user__icon")
    .user__name
      .user__name__nickname
        = current_user.nickname
      .user__name__id
        = current_user.name
  %ul.posts
    投稿一覧
    %li.posts__post
      投稿記事(1)
    %li.posts__post
      投稿記事(2)
    %li.posts__post
      投稿記事(3)
    %li.posts__post
      投稿記事(4)
  %ul.tags
    タグ一覧
    %li.tags__tag
      タグ(1)
    %li.tags__tag
      タグ(2)
    %li.tags__tag
      タグ(3)
    %li.tags__tag
      タグ(4)
  %footer
    %small.copyright
      @ 2020 shares.com